input:focus{
    font-weight: 700;
    font-size: 20px;
    color: yellowgreen;
}
li:nth-child(2n+1){
    color: green;
    font-weight: 700;
    background-color: red;
}
h1::before{
        content: "HELLO";
        color: aqua;
        font-size: 22px;
        background-color: blue;
}
h1::after{
    content: "HELLO";
    color: aqua;
    font-size: 22px;
    background-color: blue;
}
body{
    counter-reset: section;
}
p::before{
    counter-increment: section;
    content: "" counter(section)" ";
}
div{
    background-color: red;
    margin: 20px;
    padding: 30px;
    height: 100px;
    width: 100px;
}
.position{
    position: absolute;
    top: 50px;
    left: 50px;
}